
<div class="container">
    <div class="row">
      <div class="col-sm-4 bg-light border">
        <h2 class="text-danger">Who are we?</h2>
        <h5 class="text-primary">One of the most trusted Blood bank</h5>
        <div style="text-decoration: underline;font-weight: bold;">MAKE AN IMPACT</div>
        <p>Your financial gift can help a thousand children who struggle from illnesses. Your gift can provide the necessary medicine, treatment, and other essentials.</p>
        <hr class="hidden-sm hidden-md hidden-lg">
        <h3 class="text-danger">Contact Us</h3>
        <p>Make an appointment</p>
        <ul class="list-group">
            <li class="list-group-item"><i class="bi bi-telephone-fill"></i>9745896322</li>
            <li class="list-group-item"><i class="bi bi-envelope-fill"></i>bb@gmail.com</li>
            <li class="list-group-item"><i class="bi bi-telegram"></i>No:3 Supreme buildings, Chennai</li>
          </ul>  
      </div>
      <div class="col-sm-8 bg-light border" >
        <h2 class="text-danger">Blood Bank</h2>
        <h5 class="text-primary">About Us</h5>
        <div class>Since 1960</div>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            Blood Center is one of the nation’s oldest and largest nonprofit transfusion medicine organizations. We provide a blood and volunteer services across the everywhere. 
        </p>
        <hr class="hidden-sm hidden-md hidden-lg">
        <h2 class="text-danger">What we do?</h2>
        <h5  class="text-primary">Blood product and services</h5>
        <p>Blood Center is dedicated to providing the highest quality blood products and services. Our staff is ready to serve you 24/7. Donec urna metus, mattis eget eros et, iaculis vestibulum ante. In tortor nisi, consequat ut mi id, elementum sagittis nisl. Phasellus purus ex, dignissim quis vestibulum at, pulvinar vel nisl. Pellentesque ligula lorem, hendrerit a aliquet in, ultricies vitae ipsum. Duis turpis augue, pretium sed leo eget, pulvinar gravida eros. Ut porttitor laoreet tincidunt. Mauris vitae nisl nec sem volutpat aliquet in vitae ipsum. </p>
      </div>
    </div>
  </div>
 